.textmq{
    font-size: 30px;
    color: aqua;
}
body{
    background-color:lightcoral;
}
h1{
    background-color: black;
    width: 450px;
    color: chartreuse; 
}
a{
    color: aqua;
    font-size: 26px;
}